@page "/Login"

@using HermesTravel.Data
@using DataAccessHermesTravel
@using Microsoft.Extensions.Configuration
@inject NavigationManager helper

@using System.Threading

@inject ISqlDataAccess _data
@inject IConfiguration _config
@inject User user

<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HermesTravel</title>
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="css/site.css" rel="stylesheet" />
    <link href="HermesTravel.styles.css" rel="stylesheet" />

    <style>
        .img {
            width: 22.5%;
            margin-top: 100px;
            border: 2px solid #06263d;
            border-radius: 10%;
            background-color: white;
        }

        .titleText {
            color: #06263d;
            font-size: 50px;
            margin-top: 5px;
            margin-bottom: 35px;
        }

        .container {
            max-width: 500px;
        }

        .form-group {
            margin-top: 5px;
            margin-bottom: 5px;
        }

        .btn {
            margin-top: 10px;
            padding: 5px 40px;
        }

        @@media (max-width: 767.98px) {
            .container {
                max-width: 350px;
            }
        }

        @@media (min-width: 992px) {
            .img {
                width: 17.5%;
            }
        }

        @@media (min-width: 1400px) {
            .img {
                width: 12.5%;
            }
        }
    </style>
</head>

<body>
    <img class="img-fluid img img-aux" src="./images/logo.png">
    <p class="titleText fw-bold">HermesTravel</p>
    <div class="container">
        <EditForm Model="userL" OnValidSubmit="@Login">
            <div class="form-group">
                <InputText @bind-Value="userL.email" class="form-control" type="text" id="email" placeholder="Email">
                </InputText>
            </div>
            <div class="form-group">
                <InputText @bind-Value="userL.password" class="form-control" type="password" id="password"
                    placeholder="Password"></InputText>
            </div>
            <input class="btn btn-secundary fw-bold" href="Home" type="submit" value="Login" />
        </EditForm>
    </div>
</body>

</html>

@code {

    User userL = new User();
    List<User> users = new List<User>();

    private async Task Login()
    {
        string sql = "SELECT * FROM mydb.utilizador WHERE email = @Email";
    }
}