HermesTravel/obj/*
.vscode/
HermesTravel/bin/*
DataAccessHermesTravel/bin
DataAccessHermesTravel/obj
DataAccessHermesTravel/obj/Debug/net6.0/DataAccess.csproj.AssemblyReference.cache
DataAccessHermesTravel/obj/Debug/net6.0/DataAccess.csproj.FileListAbsolute.txt
HermesTravel/appsettings.json
HermesTravel/bin/Debug/net6.0/HermesTravel.deps.json
HermesTravel/bin/Debug/net6.0/appsettings.json
HermesTravel/bin/Debug/net6.0/HermesTravel.dll
HermesTravel/bin/Debug/net6.0/HermesTravel.pdb
HermesTravel/bin/Debug/net6.0/HermesTravel.staticwebassets.runtime.json
HermesTravel/bin/Debug/net6.0/ref/HermesTravel.dll
HermesTravel/obj/staticwebassets.pack.sentinel
HermesTravel/obj/Debug/net6.0/HermesTravel.csproj.CoreCompileInputs.cache
HermesTravel/obj/Debug/net6.0/HermesTravel.csproj.FileListAbsolute.txt
HermesTravel/obj/Debug/net6.0/HermesTravel.dll
HermesTravel/obj/Debug/net6.0/HermesTravel.genruntimeconfig.cache
HermesTravel/obj/Debug/net6.0/HermesTravel.pdb
HermesTravel/obj/Debug/net6.0/project.razor.json
HermesTravel/obj/Debug/net6.0/staticwebassets.build.json
HermesTravel/obj/Debug/net6.0/staticwebassets.development.json
HermesTravel/obj/Debug/net6.0/ref/HermesTravel.dll
